[ -f ~/.gitlab_tokens ] && . ~/.gitlab_tokens

{{ download_deb_macro }}() {
    id=$1
    if [ -n "$2" ]; then
        args=" -O $2"
    fi
    wget --header "PRIVATE-TOKEN: ${OMNIBUS_PACKAGE_TOKEN}" "{{ built_packages_api }}/${id}/artifacts/pkg/ubuntu-xenial/gitlab.deb"$args
}
